</main>
<footer>
<div>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> 
    <br />
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>
<script src="/javascripts/script.js"></script>
</body>
</html>