<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WatchList</title>
</head>
<body>
  <nav>
    <div>
    </div>
    <div class="nav-links">
    <% if (user) { %>
      <a href="/logout" class="login">Log Out</a>
    <% } else { %>
    <a href="/auth/google" class="login">Log In with Google</a>
    <% } %>
  </div>
  </nav>
  <main>