<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>WatchList</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
    <a href="/">WatchList</a>
    <div class="nav-links">
      <ul>
        <li><a href="/users/search">Search</a></li>
        <li><a href="/users/lists">My Watchlists</a></li>
    <% if (user) { %>
      <li><a href="/logout" class="login">Log Out</a></li>
    <% } else { %>
    <li><a href="/auth/google" class="login">Login with Google</a></li>
    <% } %>
  </div>
</ul>
</div>
  </nav>
  <main>