<%- include('partials/header') %>

<div class="container-home">
    <h2 class="landing">How it works:</h2>
    <div class="list">
        <p>1. Login with Google.</p>
        <p>2. Go to "My Watchlists" to create custom watchlists.</p>
        <p>3. Go to "Search" to find movies.</p>
        <p>4. Click on the dropdown menu to add to a watchlist.</p>
        <p>5. Have fun.</p>
    </div>
</div>

<%- include('partials/footer') %>