<%- include('partials/header') %>

<h2>How it works:</h2>
<ol>
    <li>Login with Google for full usage.</li>
    <li>Go to "My Watchlists" to create custom watchlists.</li>
    <li>Go to "Search" to find movies.</li>
    <li>Click on the results to view details and add to a watchlist.</li>
    <li>Have fun.</li>
</ol>

<%- include('partials/footer') %>